body{
    margin : 0;
    padding : 0;
}

.container{
    width:1170px;
    margin: 0 auto;
    padding: 0 16px;
}

.row{
    margin: 0 -16px;
    display: flex;
    padding: 16px 0;
    flex-wrap: wrap;   
}

.calc_values{
    width: calc(65%/6);
    padding: 0 1rem;
    background-color: aqua;
}